<ion-view>
  <ion-content class="lojin">
    <form name="hospitalForm" ng-submit="addHospital(healthcare)" novalidate>
    <div class="list text-center padding-top-50">
      <img src="img/med2.png">

      <div class="lojo-text border-0 item">
        Health Facility Details
      </div>
      <div class="">
        <button type="button" ng-click="refreshLocation()" class="button button-default">
          <i class="icon ion-location"></i>
        </button>
      </div>
    </div>


    <div class="list padding-top-40 margin-bottom-0">
      <div class="item item-divider">
        Health Facility Details
      </div> <div class="item item-text-wrap">
        <b>Instructions:</b>
        <div>a) Select the right responses from the choices given.</div>
        <div>b) To be asked from the health facility doctor or staff.</div>
      </div>

      <label class="item item-input item-floating-label">
        <span class="input-label" >Health Facility Name</span>
        <input type="text" ng-model="healthcare.h001Name" placeholder="Health Facility Name" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Latitude</span>
        <input type="text" ng-model="healthcare.Latitude" placeholder="Latitude" required readonly>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Longitude</span>
        <input type="text" ng-model="healthcare.Longitude" placeholder="Longitude" required readonly>
      </label>


      <label class="item item-input custom item-select">
        <span class="custom-label">Type of health facility</span>
        <select ng-model="healthcare.h004Type" required>
          <option value="Private" selected>Private</option>
          <option value="Sub-Centre">Sub-Centre</option>
          <option value="PHC">PHC</option>
          <option value="Upgraded PHC">Upgraded PHC</option>
          <option value="CHC">CHC</option>
          <option value="Area Hospital">Area Hospital</option>
          <option value="District Hospital">District Hospital</option>
          <option value="Medical College Hospital">Medical College Hospital</option>
          <option value="Other">Any Other</option>
        </select>
      </label>
		<div class="item item-divider">
          Hospital Address
        </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">Hamlet</span>
        <input ng-model="healthcare.h005Hamlet" type="text" placeholder="Hamlet" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Landmark</span>
        <input ng-model="healthcare.h006Landmark" type="text" placeholder="Landmark" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Panchayat</span>
        <input ng-model="healthcare.h007Panchayat" type="text" placeholder="Panchayat" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Mandal</span>
        <input ng-model="healthcare.h008Mandal" type="text" placeholder="Mandal" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">&nbsp;</span>
        <input  type="text" placeholder="" value="Visakhapatnam, Andhra Pradesh " readonly>
      </label>
	  <label class="item item-input item-floating-label">
        <span class="input-label">Pin Code</span>
        <input ng-model="healthcare.h010PinCode" type="number" placeholder="Pin Code" required>
      </label>
	  
	 <div class="item item-divider">
          Basic Details
        </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of doctor in charge</span>
        <input ng-model="healthcare.h002DoctorName" type="text" placeholder="Name of doctor in charge" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone number</span>
        <input ng-model="healthcare.h003Phone" type="number" placeholder="Phone Number" required>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Name of nearest bus stop</span>
        <input ng-model="healthcare.h013BusstopName" type="text" placeholder="Name of nearest bus stop" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Distance to bus stop (in km)</span>
        <input ng-model="healthcare.h014BusstopDistance" type="number" placeholder="Distance to bus stop (in km)" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of nearest bus stand</span>
        <input ng-model="healthcare.h011BusstandName" type="text" placeholder="Name of nearest bus stand" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Distance to bus stand (in km)</span>
        <input ng-model="healthcare.h012BusstandDistance" type="number" placeholder="Distance to bus stand (in km)" required>
      </label>

	  <label class="item item-input custom item-select">
        <span class="custom-label">Is there a AFHC/Yuva Clinic at the health facility</span>
        <select ng-model="healthcare.h015AFHC" required>
          <option value="Yes" selected>Yes</option>
          <option value="No">No</option>
        </select>
      </label>
	  	  <label class="item item-input custom item-select">
        <span class="custom-label">Is any counselor posted at the health facility</span>
        <select ng-model="healthcare.h016Counselor" required>
          <option value="Yes" selected>Yes</option>
          <option value="No">No</option>
        </select>
      </label>

    </div>

      <button ng-disabled="hospitalForm.$invalid" class="button button-positive button-full margin-0 sign-btn">Save</button>
  </div>

  </form>

  </ion-content>

</ion-view>