<ion-view>
  <ion-content class="lojin">
    <div class="row padding-top-20">
      <div class="col text-center col-50">
        <img style="height: 30px" src="img/yfs1.png">
      </div>
<!--      <div class="col text-center col-33">
        <img style="max-width: 70px" src="img/unicef.png">
      </div> -->
      <div class="col text-center col-50">
        <img style="height: 30px;" src="img/DFS1.png">
      </div>
    </div>

    <div class="text-center">
      <img style="width: 165px" src="img/ufrsva.png">
    </div>
    <div class="list text-center">

      <!--<i class="ion-ios-location location-lojo">-->

      <!--</i>-->

        <div class="lojo-text border-0 item">
          Meducap
        </div>

    </div>
<!--    <div ng-if="!long" class="text-center jrey font-mdd">
      Please turn your gps on
    </div>
    <div ng-if="long" class="text-center jrey font-mdd">
      <span>Longitude: {{long ||'xx' }} </span>
    </div>
    <div ng-if="long" class="text-center jrey font-mdd padding-top">
      <span>Latitude: {{lat || 'yy'}}</span>
    </div>
-->

    <div class="list">
      <div class="text-center padding-bottom assertive" ng-show="errorLogin">
        Invalid Login! Please try again!
      </div>

      <label class="item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" ng-model='user.username' placeholder="Username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Passcode</span>
        <input type="number" ng-model='user.password' placeholder="Passcode">
      </label>

    </div>




  </ion-content>
  <ion-footer-bar class="bar bar-positive padding-0">
    <button ng-disabled="!(user.username && user.password)" class="button button-positive button-full margin-0 sign-btn" ng-click="signIn()">Sign In</button>
  </ion-footer-bar>
</ion-view>
