<ion-view>
  <ion-content class="lojin">
    <div class="list text-center padding-top-50">
      <img src="img/edu.png">

      <div class="lojo-text border-0 item">
        School Details
      </div>
      <div class="">
        <button ng-click="refreshLocation()" class="button button-default">
          <i class="icon ion-location"></i>
        </button>
      </div>

    </div>

    <form name="schoolForm" ng-submit="addSchool(school)" novalidate>


    <div class="list padding-top-40 margin-bottom-0">
      <div class="item item-divider">
        Interview Info
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">
          Data Collector Code
        </span>
        <input type="text" ng-model="school.dataCollectorCode" placeholder="Data Collector Code" required>

      </label>
    </div>
    <div class="list margin-bottom-0">
      <div class="item item-divider">
        School Profile
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label" >School Name</span>
        <input type="text" ng-model="school.name" placeholder="School Name" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Latitude</span>
        <input type="text" ng-model="school.lat" placeholder="Latitude" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Longitude</span>
        <input type="text" ng-model="school.long" placeholder="Longitude" required>
      </label>


      <label class="item item-input custom item-select">
        <span class="custom-label">School Type</span>
        <select ng-model="school.type" required>
          <option value="primary" selected>Primary</option>
          <option value="upper primary">Upper Primary</option>
          <option value="high school">High School</option>
          <option value="gurukula pathshala">Gurukula Pathsahala</option>
        </select>
      </label>

      <label class="item item-input custom item-select">
        <span class="custom-label">Administrative Department</span>
        <select ng-model="school.department" required>
          <option value="zilla parishad" selected>Zilla Parishad</option>
          <option value="ITDA mandal">ITDA Mandal</option>
          <option value="Praja Parishad">Praja Parishad</option>
          <option value="Social Welfare">Social Welfare</option>
        </select>
      </label>


      <label class="item item-input item-floating-label">
        <span class="input-label">Hamlet</span>
        <input ng-model="school.hamlet" type="text" placeholder="Hamlet" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Landmark</span>
        <input ng-model="school.landmark" type="text" placeholder="Landmark" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Panchayat</span>
        <input ng-model="school.panchayat" type="text" placeholder="Panchayat" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Mandal</span>
        <input ng-model="school.mandal" type="text" placeholder="Mandal" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Pin Code</span>
        <input ng-model="school.pinCode" type="number" placeholder="Pin Code" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">&nbsp;</span>
        <input  type="text" placeholder="" value="Visakhapatnam, Andhra Pradesh " readonly>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone Number</span>
        <input ng-model="school.phone" type="number" placeholder="Phone" required>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Name of nearest bus stop</span>
        <input ng-model="school.nearestBusstop" type="text" placeholder="Name of nearest Bus Stop" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Distance to bus stop (in KM)</span>
        <input ng-model="school.distanceToBusstop" type="text" placeholder="Distance to bus stand (in KM)" required>
      </label>
      
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of nearest bus stand</span>
        <input ng-model="school.nearestBusstand" type="text" placeholder="Name of nearest Bus Stand" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Distance to bus stand (in KM)</span>
        <input ng-model="school.distanceToBusstand" type="text" placeholder="Distance to bus stand (in KM)" required>
      </label>
      
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of nearest hamlet</span>
        <input ng-model="school.nearestHamlet" type="text" placeholder="Name of nearest hamlet" required>
      </label>
      <label class="item item-input item-floating-label">
      <span class="input-label">Distance to nearest hamlet (in KM)</span>
      <input ng-model="school.distanceToNearestHamlet" type="number"
             placeholder="Distance to nearest hamlet (in KM)" required>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Remarks</span>
        <textarea ng-model="school.remarkLd" placeholder="Remarks"></textarea>
      </label>

    </div>

    <div class="list margin-bottom-0">
      <div class="item item-divider">
        Personnel Details
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">Point of contact Name</span>
        <input ng-model="school.pointOfContact" type="text" placeholder="Point of contact" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Point of contact Number</span>
        <input ng-model="school.pointOfContactNumber" type="number" placeholder="Point of contact number" required>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Mandal Education Officer Name</span>
        <input ng-model="school.MEO" type="text" placeholder="Mandal Education Office Name" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Mandal Education Officer Number</span>
        <input ng-model="school.MEOnumber" type="number" placeholder="Mandal Education Officer Number" required>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Number of members in SMC</span>
        <input ng-model="school.SMCnumber" type="number" placeholder="Number of members in SMC" required>
      </label>
     
      <label class="item item-input item-floating-label">
        <span class="input-label">Number of male staff</span>
        <input ng-model="school.numberOfMaleStaff" type="number" placeholder="Number of male staff" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Number of female staff</span>
        <input ng-model="school.numberOfFemaleStaff" type="number" placeholder="Number of female staff" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Number of support staff</span>
        <input ng-model="school.numberSupportStaff" type="number" placeholder="Number of support staff" required>
      </label>
      
      <label class="item item-input item-floating-label">
        <span class="input-label">Number of male students</span>
        <input ng-model="school.numberMaleStudents" type="number" placeholder="Number of male students" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Number of female students</span>
        <input ng-model="school.numberFemaleStudents" type="number" placeholder="Number of female students" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Number of boys - Classes 6 to 10</span>
        <input ng-model="school.boys6to10" type="number" placeholder="Number of boys - Classes 6 to 10" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Number of girls - Classes 6 to 10</span>
        <input ng-model="school.girls6to10" type="number" placeholder="Number of girls - Classes 6 to 10" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Vacation starts on</span>
        <input ng-model="school.startVacation" type="date" placeholder="Vacation starts on" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Vacation ends on</span>
        <input ng-model="school.endVacation" type="date" placeholder="Vacation ends on" required>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Exams starts on</span>
        <input ng-model="school.startExams" type="date" placeholder="Exams starts on" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Exams ends on</span>
        <input ng-model="school.endExams" type="date" placeholder="Exams ends on" required>
      </label>
      
      <li class="item item-toggle">
        Student Clubs in school
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.clubs" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>      
      <li class="item item-toggle">
        Parent Teacher Association in school
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.association" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
   
      <label class="item item-input item-floating-label">
        <span class="input-label">Remarks</span>
        <textarea ng-model="school.remarkSd" placeholder="Remarks"></textarea>
      </label>
    
     </div>

    <ul class="list margin-bottom-0">
      <div class="item item-divider">
        School Facilities
      </div>
      <li class="item item-toggle">
        Drinking Water
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.drinkingWater" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        Overhead Tank for drinking water
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.otDrinking">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        Water Filter
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.waterFilter">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
         Toilet Facility
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.toiletFacility">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        Separate Girl's Toilet
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.separateGirlToilet">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        Doors can be locked
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.lockToilet">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        Running Water in Toilets
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.runningWaterToilet">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
       Functional Motor Pump
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.functionalMotorPump">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
       Running Tap Water
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.TapWater">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
       Overhead Tank for Tap Water
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.otTap">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <!--<li class="item item-toggle">-->
        <!--Functional Motor Pump-->
        <!--<label class="toggle toggle-balanced">-->
          <!--<input type="checkbox" ng-model="school.functionalMotorPump">-->
          <!--<div class="track">-->
            <!--<div class="handle"></div>-->
          <!--</div>-->
        <!--</label>-->
      <!--</li>-->

      <li class="item item-toggle">
        Continuous Power Supply
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.continuousPowerSupply">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-input item-floating-label">
        <span class="input-label">Remarks</span>
        <textarea ng-model="school.remarkSf" placeholder="Remarks"></textarea>
      </li>
    </ul>
      
      <div class="item item-toggle item-text-wrap">
        Provision of Sanitary Napkins
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.SanitaryNapkins">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle item-text-wrap">
        Functional Powerpoint Projector
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.functionalPowerPointProjector">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle item-text-wrap">
        Functional Computer
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.functionalComputer">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle item-text-wrap">
        Availability of School Playground
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.PlayGround">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle item-text-wrap">
        Availability of School Activity Hall
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.ActivityHall">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      
      
    <div class="list margin-bottom-0">
      <div class="item item-divider">
        Health Facility Details
      </div>
      <div class="item item-toggle item-text-wrap">
        Availability of First Aid Box
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.FirstAid">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle item-text-wrap">
        Are students trained in First Aid
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.studentsFirstAid">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle item-text-wrap">
        Are teachers trained in First Aid
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.teachersFirstAid">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <label class="item item-input custom item-select">
        <span class="custom-label">What is done when student is unwell</span>
        <select ng-model="school.responseHealth" required>
          <option value="sent home" selected>Sent Home</option>
          <option value="made to rest in school">Made to Rest in School</option>
          <option value="sent to health facility">Sent to Health Facility</option>
          <option value="none">None of the Above</option>
        </select>
      </label>

      <div class="item item-toggle item-text-wrap">
        Any health checkup performed in 2016 by RBSK team
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.healthCheckupThisYear">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle item-text-wrap">
        Any referral medical cases last year
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.medicalCaseLastYear">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle item-text-wrap">
        Availability of AFHC or YUVA near school
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.availabilityAFHC">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of AFHC / YUVA</span>
        <input ng-model="school.nameAFHC" type="text" placeholder="Name of AFHC / YUVA">
      </label>
      <label class="item item-input item-floating-label">
      <span class="input-label">Distance to AFHC / YUVA (in KM)</span>
      <input ng-model="school.distanceToAFHC" type="number"
             placeholder="Distance to AFHC / YUVA (in KM)">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of person in charge</span>
        <input ng-model="school.pocAFHC" type="text" placeholder="Name of person in charge" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone Number</span>
        <input ng-model="school.numberAFHC" type="number" placeholder="Phone Number" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Mode of transport to reach facility</span>
        <input ng-model="school.transportAFHC" type="text" placeholder="Mode of transport to reach facility" required>
      </label>

      
      <label class="item item-input item-floating-label">
        <span class="input-label">Remarks</span>
        <textarea ng-model="school.remarkMedical" type="text" placeholder="Remarks"></textarea>
      </label>

    </div>
      <button type="submit" ng-disabled="schoolForm.$invalid" class="button button-positive button-full margin-0 sign-btn">Save</button>


    </form>


  </ion-content>

</ion-view>
