<ion-view>
  <ion-content class="lojin">
    <div class="list text-center padding-top-50">
      <img src="img/edu.png">

      <div class="lojo-text border-0 item">
        School Details
      </div>
      <div class="">
        <button type="button" ng-click="refreshLocation()" class="button button-default">
          <i class="icon ion-location"></i>
        </button>
      </div>

    </div>

    <form name="schoolForm" ng-submit="addSchool(school)" novalidate>

      <div class="list padding-top-40 margin-bottom-0">
        <div class="item item-divider">
          Interview Information
        </div>
        <label class="item item-input item-floating-label">
          <span class="input-label" >Name of the person collecting data</span>
          <input type="text" ng-model="school.s001Interviewer" placeholder="Name of the person collecting data" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label" >Contact Number</span>
          <input type="number" ng-model="school.s002ContactInterviewer" placeholder="Contact Number" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label" >Starting Time</span>
          <input type="text" ng-model="school.s003StartingTime" placeholder="Starting Time" required readonly>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label" >Ending Time</span>
          <input type="text" ng-model="school.s004EndingTime" placeholder="Ending Time"  readonly>
        </label>
        <label class="item item-input item-floating-label">
          <span class="" >Data Collection Date</span>
          <div class="">
            {{school.s5DataCollectionDate | date}}
          </div>
        </label>
       </div>

    <div class="list margin-bottom-0">
      <div class="item item-divider">
        School Profile
      </div>
      <div class="item item-text-wrap">
        <b>Instructions:</b>
        <div>a) Select the right responses from the choices given.</div>
        <div>b) To be asked from the principal or headmaster or senior school teacher.</div>
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Name of the respondent</span>
        <input type="text" ng-model="school.s006Respondent" placeholder="Name of the respondent" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Contact Number</span>
        <input type="number" ng-model="school.s007ContactRespondent" placeholder="Contact Number" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Name of the school</span>
        <input type="text" ng-model="school.s008SchoolName" placeholder="Name of the school" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Latitude</span>
        <input type="text" ng-model="school.Latitude" placeholder="Latitude" required readonly>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Longitude</span>
        <input type="text" ng-model="school.Longitude" placeholder="Longitude" required readonly>
      </label>


      <label class="item item-input custom item-select">
        <span class="custom-label">Type of School</span>
        <select ng-model="school.s009SchoolType" required>
          <option value="Primary" selected>Primary</option>
          <option value="Upper Primary">Upper Primary</option>
          <option value="High School">High School</option>
        </select>
      </label>

      <label class="item item-input custom item-select">
        <span class="custom-label">Administrative Department</span>
        <select ng-model="school.s010AdminDepartment" required>
          <option value="Zilla Parishad" selected>Zilla Parishad</option>
          <option value="ITDA Mandal">ITDA Mandal</option>
          <option value="Praja Parishad">Praja Parishad</option>
          <option value="Social Welfare">Social Welfare</option>
        </select>
      </label>


      <label class="item item-input item-floating-label">
        <span class="input-label">Hamlet Name</span>
        <input ng-model="school.s011Hamlet" type="text" placeholder="Hamlet Name" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Nearest Landmark</span>
        <input ng-model="school.s012Landmark" type="text" placeholder="Nearest Landmark" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Village Panchayat</span>
        <input ng-model="school.s013Panchayat" type="text" placeholder="Village Panchayat" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Mandal Name</span>
        <input ng-model="school.s014Mandal" type="text" placeholder="Mandal Name" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Pin Code</span>
        <input ng-model="school.s015PinCode" type="number" placeholder="Pin Code" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">&nbsp;</span>
        <input  type="text" placeholder="" value="Visakhapatnam, Andhra Pradesh " readonly>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">School Contact Number</span>
        <input ng-model="school.s017SchoolPhone" type="number" placeholder="School Contact Number" required>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">School starts at</span>
        <input ng-model="school.s018SchoolStartTime" type="time" placeholder="School starts at" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">School ends at</span>
        <input ng-model="school.s019SchoolEndTime" type="time" placeholder="School ends at" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Which Saturdays are working</span>
        <input ng-model="school.s020SchoolSaturdays" type="text" placeholder="Which Saturdays are working" required>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Name of nearest bus stand</span>
        <input ng-model="school.s021BusstandName" type="text" placeholder="Name of nearest Bus stand" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Distance to nearest bus stand (in KM)</span>
        <input ng-model="school.s022BusstandDistance" type="number" placeholder="Distance to nearest bus stand (in KM)" required>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Name of nearest bus stop</span>
        <input ng-model="school.s023BusstopName" type="text" placeholder="Name of nearest bus stop" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Distance to nearest bus stop (in KM)</span>
        <input ng-model="school.s024BusstopDistance" type="number" placeholder="Distance to bus stop (in KM)" required>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Name of nearest hamlet</span>
        <input ng-model="school.s025NearestHamlet" type="text" placeholder="Name of nearest hamlet" required>
      </label>
      <label class="item item-input item-floating-label">
      <span class="input-label">Distance to nearest hamlet (in KM)</span>
      <input ng-model="school.s026HamletDistance" type="number"
             placeholder="Distance to nearest hamlet (in KM)" required>
      </label>

    </div>

    <div class="list margin-bottom-0">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of the Principal or Headmaster</span>
        <input ng-model="school.s027PrincipalName" type="text" placeholder="Name of the Principal or Headmaster" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Principal/Headmaster contact number</span>
        <input ng-model="school.s028ContactPrincipal" type="number" placeholder="Principal/Headmaster contact number" required>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Name of the Mandal Education Officer (MEO)</span>
        <input ng-model="school.s029MEOName" type="text" placeholder="Name of the Mandal Education Officer" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">MEO contact number</span>
        <input ng-model="school.s030MEONumber" type="number" placeholder="MEO contact number" required>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Number of members in School Management</span>
        <input ng-model="school.s031SMCStrength" type="number" placeholder="Number of members in School Management" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of SMC member 1</span>
        <input ng-model="school.s032SMCName1" type="text" placeholder="Name of SMC member 1" required>
     </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Designation of SMC member 1</span>
        <input ng-model="school.s033SMCDesignation1" type="text" placeholder="Designation of SMC member 1" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Contact of SMC member 1</span>
        <input ng-model="school.s034SMCContact1" type="number" placeholder="Contact of SMC member 1" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of SMC member 2</span>
        <input ng-model="school.s035SMCName2" type="text" placeholder="Name of SMC member 2" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Designation of SMC member 2</span>
        <input ng-model="school.s036SMCDesignation2" type="text" placeholder="Designation of SMC member 2" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Contact of SMC member 2</span>
        <input ng-model="school.s037SMCContact2" type="number" placeholder="Contact of SMC member 2" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of SMC member 3</span>
        <input ng-model="school.s038SMCName3" type="text" placeholder="Name of SMC member 3" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Designation of SMC member 3</span>
        <input ng-model="school.s039SMCDesignation3" type="text" placeholder="Designation of SMC member 3" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Contact of SMC member 3</span>
        <input ng-model="school.s040SMCContact3" type="number" placeholder="Contact of SMC member 3" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Number of teachers - Total</span>
        <input ng-model="school.s041TeachersTotal" type="number" placeholder="Number of teachers - Total" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Number of teachers - Male</span>
        <input ng-model="school.s042TeachersMale" type="number" placeholder="Number of teachers - Male" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Number of teachers - Female</span>
        <input ng-model="school.s043TeachersFemale" type="number" placeholder="Number of teachers - Female" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Number of other staff - Male</span>
        <input ng-model="school.s044OtherStaffMale" type="number" placeholder="Number of other staff - Male" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Number of other staff - Female</span>
        <input ng-model="school.s045OtherStaffMale" type="number" placeholder="Number of other staff - Female" required>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Student strength - Total</span>
        <input ng-model="school.s046StudentsTotal" type="number" placeholder="Student Strength - Total" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Student strength - Male</span>
      <input ng-model="school.s047StudentsMale" type="number" placeholder="Student Strength - Male" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Student strength - Female</span>
        <input ng-model="school.s048StudentsFemale" type="number" placeholder="Student Strength - Female" required>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Student Strength in Grade 6 - Male</span>
        <input ng-model="school.s049StudentsMale6" type="number" placeholder="Student Strength in Grade 6 - Male" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Student Strength in Grade 6 - Female</span>
        <input ng-model="school.050StudentsFemale6" type="number" placeholder="Student Strength in Grade 6 - Female" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Student Strength in Grade 7 - Male</span>
        <input ng-model="school.s0501tudentsMale7" type="number" placeholder="Student Strength in Grade 7 - Male" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Student Strength in Grade 7 - Female</span>
        <input ng-model="school.s052StudentsFemale7" type="number" placeholder="Student Strength in Grade 7 - Female" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Student Strength in Grade 8 - Male</span>
        <input ng-model="school.s053StudentsMale8" type="number" placeholder="Student Strength in Grade 8 - Male" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Student Strength in Grade 8 - Female</span>
        <input ng-model="school.s054StudentsFemale8" type="number" placeholder="Student Strength in Grade 8 - Female" required>
     </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Student Strength in Grade 9 - Male</span>
        <input ng-model="school.s055StudentsMale9" type="number" placeholder="Student Strength in Grade 9 - Male" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Student Strength in Grade 9 - Female</span>
        <input ng-model="school.s056StudentsFemale9" type="number" placeholder="Student Strength in Grade 9 - Female" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Student Strength in Grade 10 - Male</span>
        <input ng-model="school.s057StudentsMale10" type="number" placeholder="Student Strength in Grade 10 - Male" required>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Vacation 1 - From</span>
        <input ng-model="school.s058Vacation1From" type="date" placeholder="Vacation 1 - From" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Vacation 1 - To</span>
        <input ng-model="school.s059Vacation1To" type="date" placeholder="Vacation 1 - To" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Vacation 2 - From</span>
        <input ng-model="school.s060Vacation2From" type="date" placeholder="Vacation 2 - From" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Vacation 2 - To</span>
        <input ng-model="school.s061Vacation2To" type="date" placeholder="Vacation 2 - To" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Vacation 3 - From</span>
        <input ng-model="school.s062Vacation3From" type="date" placeholder="Vacation 3 - From" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Vacation 3 - To</span>
        <input ng-model="school.s063Vacation3To" type="date" placeholder="Vacation 3 - To" required>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Final Examination - From</span>
        <input ng-model="school.s064ExamsFrom" type="date" placeholder="Final Examination - From" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Final Examination - To</span>
        <input ng-model="school.s065ExamsTo" type="date" placeholder="Final Examination - To" required>
      </label>

       <!--<label class="item item-input item-floating-label">-->
        <!--<span class="input-label">Vacation starts on</span>-->
        <!--<input ng-model="school.startVacation" type="date" placeholder="Vacation starts on" required>-->
      <!--</label>-->
      <!--<label class="item item-input item-floating-label">-->
        <!--<span class="input-label">Vacation ends on</span>-->
        <!--<input ng-model="school.endVacation" type="date" placeholder="Vacation ends on" required>-->
      <!--</label>-->

      <!--<label class="item item-input item-floating-label">-->
        <!--<span class="input-label">Exams starts on</span>-->
        <!--<input ng-model="school.startExams" type="date" placeholder="Exams starts on" required>-->
      <!--</label>-->
      <!--<label class="item item-input item-floating-label">-->
        <!--<span class="input-label">Exams ends on</span>-->
        <!--<input ng-model="school.endExams" type="date" placeholder="Exams ends on" required>-->
      <!--</label>-->

      <li class="item item-toggle">
        Student Clubs in school
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s066StudentClubs" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle item-text-wrap">
        Parent Teacher Association in school
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s067PTAssociation" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
     </div>

    <ul class="list margin-bottom-0">
      <div class="item item-divider">
        Operational Details
        </div>
        <div class="item item-text-wrap">
        <b>Instructions:</b>
        <div>a) Select the right responses from the choices given</div>
        <div>b) To be observed and checked by field investigator him/herself</div>
      </div>
      <li class="item item-toggle">
        Drinking Water Facility
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s068DrinkingWater" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle item-text-wrap">
        Overhead Tank for drinking water
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s069OverheadTankDW">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        Water Filter
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s070WaterFilter">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
         Toilet Facility
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s071Toilet">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        Separate Boy's Toilet
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s072BoysToilet">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        Separate Girl's Toilet
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s073GirlsToilet">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        Doors can be locked
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s074ToiletLock">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle item-text-wrap">
        Water Provision in Toilets
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s075ToiletWater">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle item-text-wrap">
       Water provision through Functional Motor Pump
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s076MotorPump">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle item-text-wrap">
       Wash basin with running water
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s077Washbasin">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle item-text-wrap">
       Overhead Tank for toilets and washbasin
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s078OverheadTankTW">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle item-text-wrap">
        Provision of sanitary napkins
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s079SanitaryNapkins">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle item-text-wrap">
        Availability of sanitary napkin vending machine in girls toilet
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s080SanitaryNapkinMachines">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
        <!--</label>-->
      <!--</div>-->
      <div class="item item-toggle item-text-wrap">
        Availability of functional Projector
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s081Projector">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle item-text-wrap">
        Availability of Functional Computer
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s082Computer">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle item-text-wrap">
        Availability of electricity
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s083Electricity">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

    </ul>
      <div class="item item-toggle item-text-wrap">
        Availability of School Playground
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s084Playground">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <div class="item item-toggle item-text-wrap">
        Availability of School Activity Hall
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s085ActivityHall">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">On which day of the week, IFA is given</span>
        <input ng-model="school.s086IFADay" type="date" placeholder="On which day of the week, IFA is given">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">At what time of the day is it given</span>
        <input ng-model="school.s087IFATime" type="time" placeholder="At what time of the day is it given">
      </label>
      <label class="item item-input item-text-wrap item-stacked-label">
        <div class=" ">No. of IFA tablets ANM gave last month - Week 1</div>
        <input ng-model="school.s088IFAWeek1" type="number" placeholder="">
      </label>
      <label class="item item-input item-floating-label">
        <div class="">No. of IFA tablets ANM gave last month - Week 2</div>
        <input ng-model="school.s089IFAWeek2" type="number" placeholder="">
      </label>
      <label class="item item-input item-text-wrap item-floating-label">
        <div class="">No. of IFA tablets ANM gave last month - Week 3</div>
        <input ng-model="school.s090IFAWeek3" type="number" placeholder="">
      </label>
      <label class="item item-input item-text-wrap item-floating-label">
        <div class="">No. of IFA tablets ANM gave last month - Week 4</div>
        <input ng-model="school.s091IFAWeek4" type="number" placeholder="">
      </label>
      <label class="item item-input item-text-wrap item-stacked-label">
        <div class="">No. of students given IFA last week(Ask Teacher)</div>
        <input ng-model="school.s092IFALastWeek" type="number" placeholder="">
      </label>
      <div class="item item-toggle item-text-wrap">
        Is there any record for IFA consumption
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s093IFARecord">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <div class="list margin-bottom-0">
      <div class="item item-divider">
        Health Facility Details
      </div>
<div class="item item-text-wrap">
        <b>Instructions:</b>
        <div>a) Select the right responses from the choices given</div>
        <div>b) To be asked from the principal or head master or school teacher</div>
      </div>

      <div class="item item-toggle item-text-wrap">
        Availability of First Aid Box
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s0949FirstAidBox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle item-text-wrap">
        Are students trained in giving First Aid
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s095StudentsFirstAid">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-toggle item-text-wrap">
        Are teachers trained in giving First Aid
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s096TeachersFirstAid">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Last health checkup done by RBSK team</span>
        <input ng-model="school.s097RBSKCheckup" type="date" placeholder="Last health checkup done by RBSK team">
      </label>

      <div class="item item-toggle item-text-wrap">
        Were there any cases which required referral medical help
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="school.s098MedicalCases">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <label class="item item-input item-stacked-label item-text-wrap">
        <div class="">In case of minor medical ailments, usually from whom services are taken</div>
        <input ng-model="school.s099IFMinorMedical" type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label item-text-wrap">
        <div class="">In case of major medical emergency, where is a student referred to</div>
        <input ng-model="school.s100IFMajorMedical" type="text" placeholder="">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of nearest health facility</span>
        <input ng-model="school.s101NameOfHF" type="text" placeholder="Name of nearest health facility">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Distance to nearest health facility (KM)</span>
        <input ng-model="school.s102DistanceOfHF" type="number" placeholder="Distance to nearest health facility (KM)">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Mode of Transport to reach the facility</span>
        <input ng-model="school.s103TransportToHF" type="text" placeholder="Mode of Transport to reach the facility">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Name of nearest Govt. health facility</span>
        <input ng-model="school.s104NameOfGHF" type="text" placeholder="Name of nearest Govt. health facility">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Distance to nearest Govt. health facility (KM)</span>
        <input ng-model="school.s105DistanceOfHF" type="number" placeholder="Distance to nearest Govt. health facility (KM)">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Mode of Transport to reach the facility</span>
        <input ng-model="school.s106TransportToHF" type="text" placeholder="Mode of Transport to reach the facility">
      </label>

    </div>
      <button type="submit" ng-disabled="schoolForm.$invalid" class="button button-positive button-full margin-0 sign-btn">Save</button>


    </form>


  </ion-content>

</ion-view>
