<div class="tabs tabs-icon-only tabs-positive">



  <a ui-sref="home.dash" ng-class="activeTab === 'Dash' ? 'active' :''"
     class="tab-item">
    <i class="icon ion-ios-location"></i>
  </a>

  <a ui-sref="home.upload" ng-class="activeTab === 'Upload' ? 'active' :''"
     class="tab-item">
    <i class="icon ion-upload"></i>

  </a>



  <a  ui-sref="home.info" ng-class="activeTab === 'Info' ? 'active' :''"   class="tab-item" >
    <i class="icon ion-ios-paper"></i>

  </a>

  <a ui-sref="home.unicef" ng-class="activeTab === 'Unicef' ? 'active' :''"
     class="tab-item relative">
    <i class="icon ion-information-circled"></i>

  </a>
  <a  ui-sref="home.settings" ng-class="activeTab === 'Settings' ? 'active' :''"  class="tab-item">
    <i class="icon ion-ios-gear"></i>

  </a>

</div>
