<ion-view>
  <ion-content>
    <div class="row padding-top-20">
      <div class="col text-center col-50">
        <img style="height: 30px" src="img/yfs1.png">
      </div>
<!--      <div class="col text-center col-33">
        <img style="max-width: 70px" src="img/unicef.png">
      </div> -->
      <div class="col text-center col-50">
        <img style="height: 30px;" src="img/DFS1.png">
      </div>
    </div>

    <div class="text-center">
      <img style="width: 165px" src="img/ufrsva.png">
    </div>
    <div class="list text-center">
	<b>Designed by <a href="http://www.youthforseva.org">YFS</a> and <a href="http://doctorsforseva.youthforseva.org">DFS</a></b>
	<br>
	<b>Supported by <a href="http://www.unicef.in">UNICEF</a></b><br>
	<b>Powered by <a href="http://www.varnalabs.io">VarnaLabs</a></b>
    </div>

  </ion-content>
  <ion-footer-bar class="bar bar-positive padding-0">
    <tabs></tabs>
  </ion-footer-bar>
</ion-view>
