<ion-view>
  <ion-content>
    <div class="row padding-top-40">
      <div class="col text-center col-33">
        <img style="width: 90px" src="img/yfs2.png">
      </div>
      <div class="col text-center col-33">
        <img style="max-width: 90px" src="img/unicef.png">
      </div>
      <div class="col text-center col-33 " style="padding-top: 25px;">
        <img style="width: 90px; height: 50px;" src="img/DFS1.png">
      </div>
    </div>

    <div class="list text-center">
      <img style="width: 180px" src="img/ufrsva.png">
    </div>
    <div class="list text-center">
	<b>Designed by <a href="http://www.youthforseva.org">YFS</a> and <a href="http://doctorsforseva.youthforseva.org">DFS</a></b>
	<br><br>
	<b>Supported by <a href="http://www.unicef.in">UNICEF</a></b><br><br>
	<b>Powered by <a href="http://www.varnalabs.io">VarnaLabs</a></b><br><br>
    </div>

  </ion-content>
  <ion-footer-bar class="bar bar-positive padding-0">
    <tabs></tabs>
  </ion-footer-bar>
</ion-view>
