/* Empty. Add your own CSS if you like */
.margin-0{
  margin: 0 !important;
}
.sign-btn{
  font-size:18px !important;
}
.padding-0{
  padding:0 !important;
}
.location-lojo{
  font-size: 140px;
  color:#387ef5;
}
.padding-top-50{
  padding-top: 50px;
}
.lojo-text{
  font-size:30px;
  color:#387ef5;
}
.lojin .item-input{
  color:#969494 !important;
}
.font-mdd{
  font-size:18px;
}
.jrey{
  color:#969494 !important;
}
.latLonList .item{
  border:0 !important;
}
.border-0{
  border:0 !important;
}
.padding-top-20{
  padding-top: 20px;
}
.padding-top-30{
  padding-top: 30px;
}
.padding-top-40{
  padding-top: 40px;
}
.btn-sync{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 80px;
}
.font-bb{
  font-size:30px;
  font-weight: 300;
}
.custom.item-select {
  width: 100%; /* Or whatever you'd like the width to be */
  min-height:80px;

}
.margin-sm{
  margin:10px;
}
.custom.item-select select {
  left:0;
  text-align: left;
  max-height: 100%;
  width: 100%;
  max-width: 80%;
  direction: ltr;
  padding-top:30px;
}
.custom.item-select select option{
  /*max-width: 50% !important;*/
}
.custom.item-select .custom-label{
  position: absolute;
  top: 5px;
  color: #aba9a9;
  z-index: 3;
}
.margin-bottom-0{
  margin-bottom:0 !important;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 99;
}
.refresh-location-btn{
  width: 200px;
  height: 50px;
}
